@page "/CustomComponentDeneme"
@using BlazorGiris.Controllers
@using BlazorGiris.Data

<h3 @onmousemove="@mouse_func">CustomComponentDeneme</h3>
<CascadingValue Name="number" Value="@_number">
    <CustomComponent Value="@x_y"></CustomComponent>
</CascadingValue>

@code {
    private int _number = 999;

    private string? x_y { get; set; }
    private string? clipCopy{ get; set; }
    /// <summary>
    /// @onmouse eventi verilen nesnenin koordinatlarını değişkene atma işlemi
    /// </summary>
    /// <param name="e"></param>

    protected void mouse_func(MouseEventArgs e)
    {
        x_y = $"X:{e.ClientX} Y:{e.ClientY}";
    }
}
