@page "/"
@using BlazorGiris.Data;
@using BlazorGiris.DataContext
<PageTitle>Index</PageTitle>
<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<h1>Hello world!</h1>

Welcome to your new app.

<SurveyPrompt Title="@message" />
<EditForm Model="@tmp" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <div class="jumbotrom text-center">
            <h1 class="lg:text3x1 text-x1 font:semibold mb-k">Register</h1>

            <div class="form-group">
                <input @bind-value="tmp.Username" type="text" name="username" placeholder="Username" class="form-control" style="border: 1px solid #d3d5d8 ;">
            </div>
            <div class="form-group">
                <input @bind-value="tmp.E_mail" type="email" name="email" placeholder="E Mail" class="form-control" style="border: 1px solid #d3d5d8 ;">
            </div>
            <div class="form-group">
                <input @bind-value="tmp.Password" type="password" name="password" placeholder="Password" class="form-control" style="border: 1px solid #d3d5d8 ;">
            </div>
            <div class="form-group">
                <input @bind-value="password2" type="password" name="second_password" placeholder="Password Again" class="form-control" style="border: 1px solid #d3d5d8 ;">
            </div>
            <div class="form-group">
                <InputSelect id="Gender" @bind-Value="tmp.Gender">
                    <option value="true">Male</option>
                    <option value="false">Female</option>
                </InputSelect>
            </div>
            <button type="submit" class="form-control" onclick="">Register</button>
        </div>
    </div>
</EditForm>


@code {
    UserModel tmp = null;
    string password2 = "";
    string message = "";
    protected override void OnInitialized()
    {
        base.OnInitialized();
        tmp = new UserModel();
    }
    private void HandleValidSubmit()
    {
        if (tmp.Password == password2)
        {
            using (var db = new UserDataContext())
            {
                //Username check before add new record
                if (db.Users.FirstOrDefault(e => e.Username == tmp.Username) != null)
                {
                    message = "Username Exists";
                }
                else
                {

                    try
                    {
                        db.Users.Add(tmp);
                        db.SaveChanges();
                        tmp.Username = "";
                        tmp.E_mail = "";
                        tmp.Password = "";
                        message = "Registeration Successful";
                    }
                    catch (Exception ex)
                    {
                        message = (string)ex.Message;
                    }

                }

            }
        }
        else
        {
            message = "Passwords Don't Match";
        }
    }
}